.app-name {
  font-weight: 700;
  font-size: 1rem;
  font-family: "Roboto";
}
.heading {
  font-size: 3rem;
}

.todo-container {
  background-color: #e3e3e3;
  padding: 1rem;
  heigth: 100vh;
  width: 100vw;
}

.container {
  background-color: #fff;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.col-4,
.col-6,
.col-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

input {
  width: 100%;
}

.button {
  padding: 1rem;
  min-width: 100px;
}
