.item {
  font-weight: 600;
  font-size: 1.25rem;
  border: 1px solid #f4a5f4;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  background-color: #a3e3e3;
}
.kg-item {
  font-weight: 600;
  font-size: 1.25rem;
  border: 1px solid #f4a5f4;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  background-color: #a3e3e3;
}
